$fontColorPrimary: darkgrey;
$fontColorSecondary: white;
$fontColorLight: #323232;

$backgroundColorPrimary: rgb(245,245,245);
$backgroundColorSecondary: #004712;

$highlightColor: rgb(207,169,112);

$matchingColor: #C8963E